html,body{
    height:100%
}
.clearfloat:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
  }
  .clearfloat {
    zoom: 1;
  }
.textNowrap
{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.textellipsis
{
  overflow: hidden;
  text-overflow: ellipsis;
}